/*CSS的註解要這樣寫喔～*/

hr.blank{
    margin:50px 0px
}

ol.andylist>li:hover {
    background-color: #deb43d;
    }

table.andytable{
    width: 50%;
    background-color: antiquewhite;
}

table.andytable td{
    text-align: center;
    border:1px solid #2a5d44;
}

table.andytable th{
    background-color: black;
    color: white;
    text-align: center;
    border:1px solid #2a5d44;
}

table.andytable tr:nth-child(even) {
    background-color: yellow;
}
 
table.andytable tr:nth-child(odd) {
    background-color: pink ;
}


.bg-primary{
    background-color: pink !important;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p#redred{
    background-color: rgb(138, 43, 226, 0.5);
    color: white;
    border: 10px dashed red;
    background-image: url(../assets/img/bg-redsky.jpg);
    font-size: 40px;
    text-align: center;
    font-family:'Noto Serif TC', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

/*p#redred{
    color: red;
    border: 10px solid;
    background-color: black;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-color: blue;
    font-size: 40px;
    text-align: center;
    font-family:'Noto Serif TC', sans-serif;
    text-indent: 20px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}*/

.blueblue{
    color:blue;
    font-style: bold;
    font-weight: bolder;
}



body{
    font-family:'Noto Sans TC', sans-serif;
}
    
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Noto Serif TC', sans-serif;
}

.expedu_icon {
    color: blue
}

.expedu_icon:hover{
    background-color: blue;
    color: white;
}

/*.bg-primary {
    background-color: black !important;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/